<% @page_title = "My locations public" %>
<div class="container-fluid index">
	<div class="row">
		<div class="col-md-12">
			<h1 id="where-is">Where is Ben?</h1>
		</div>
			<p id="is-in">Ben is in...</p>
			<% @locations.each do |f| %>
				<% if f == @locations.first %>
					<h2  id="current-location"><strong><%= f.name %></strong></h2>
				<% end %>
			<% end %>
			<div id="mapholder">
		  		<div id="map"></div>
			</div>
			<div class="container">
				<p id="was-in"><strong>Ben was in: </strong></p>
				<table class="table">
					<tr>
						<th>Order</th>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Date</th>
					</tr>
					<% @locations.each do |f| %>
					<tr>
						<td><%= f.position %></td>
						<td><%= f.name %></td>
						<td><%= f.latitude %></td>
						<td><%= f.longitude %></td>
						<td><%= f.created_at %></td>
					</tr>
					<% end %>
				</table>
			</div>
	</div>
</div>

<script>
	handler = Gmaps.build('Google', { markers: { clusterer: undefined  } });
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	  handler.getMap().setZoom(5);
	});
</script>